In [1]:
import pandas as pd 
import os, sys

In [2]:
os.chdir("..")

In [3]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week3\\Redash-LLM-Chatbot-Add-on'

In [4]:
from utils.file_manuplation import ZipExtractor
from db.db_conn import DatabaseLoader

In [5]:
extractor = ZipExtractor(folder_path="data/unextracted_data", output_directory="data/extracted_data")

Extracting files from data/unextracted_data to data/extracted_data. and current working directory is c:\Users\user\Downloads\ten_academy\week3\Redash-LLM-Chatbot-Add-on

In [6]:
db = DatabaseLoader()

In [7]:
db.connect()

Connected to the database.

In [8]:
extractor.extract_files()

Extracting data/unextracted_data\Cities.zip to data/extracted_data\Cities.
Extracting data/unextracted_data\Content type.zip to data/extracted_data\Content type.
Extracting data/unextracted_data\Device type.zip to data/extracted_data\Device type.
Extracting data/unextracted_data\Geography.zip to data/extracted_data\Geography.
Extracting data/unextracted_data\New and returning viewers.zip to data/extracted_data\New and returning viewers.
Extracting data/unextracted_data\Operating system.zip to data/extracted_data\Operating system.
Extracting data/unextracted_data\Sharing service.zip to data/extracted_data\Sharing service.
Extracting data/unextracted_data\Subscription source.zip to data/extracted_data\Subscription source.
Extracting data/unextracted_data\Subscription status.zip to data/extracted_data\Subscription status.
Extracting data/unextracted_data\Subtitles and CC.zip to data/extracted_data\Subtitles and CC.
Extracting data/unextracted_data\Traffic source.zip to data/extracted_data\Traffic source.
Extracting data/unextracted_data\Viewer age.zip to data/extracted_data\Viewer age.
Extracting data/unextracted_data\Viewer gender.zip to data/extracted_data\Viewer gender.
Extracting data/unextracted_data\Viewership by Date.zip to data/extracted_data\Viewership by Date.
Extraction completed.

Seems Like all of the datas extracted cointain the same 3 csv file names
- Chart data
- Table Data
- Totals

In [9]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week3\\Redash-LLM-Chatbot-Add-on'

In [8]:
city_chart = pd.read_csv("data/extracted_data/Cities/Chart data.csv")
city_total = pd.read_csv("data/extracted_data/Cities/Totals.csv")
city_table = pd.read_csv("data/extracted_data/Cities/Table DATA.csv")

In [13]:
city_chart.isna().sum()

Date         0
Cities       0
City name    0
Views        0
dtype: int64

In [87]:
city_total.isna().sum()

Date     0
Views    0
dtype: int64

In [62]:
city_chart.head()

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [65]:
# sum the number of views by date
city_chart_sum = city_chart.groupby('Date').sum()

In [63]:
#convert obdect column to datetime
city_chart['Date'] = pd.to_datetime(city_chart['Date'])

In [85]:
t = city_chart.groupby('Date')['Views'].sum()
print(t)

Date
2020-06-28     0
2020-06-29     0
2020-06-30     0
2020-07-01     0
2020-07-02     0
              ..
2023-12-24     0
2023-12-25     0
2023-12-26    15
2023-12-27     0
2023-12-28     0
Name: Views, Length: 1279, dtype: int64

In [64]:
city_chart.dtypes

Date         datetime64[ns]
Cities               object
City name            object
Views                 int64
dtype: object

In [61]:
city_chart_sum.head()

,Cities,City name,Views
Date,,,
2020-06-28,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-06-29,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-06-30,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-07-01,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-07-02,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0

In [14]:
city_total.head()

         Date  Views
0  2020-06-28      1
1  2020-06-29     72
2  2020-06-30     76
3  2020-07-01     70
4  2020-07-02     57

In [14]:
city_chart_table_merge = pd.merge(city_chart, city_table, on="City name", how="left")

In [15]:
city_chart_table_merge.drop('Cities_y', axis=1, inplace=True)

In [16]:
city_chart_table_merge.rename(columns={'Cities_x': 'Cities', 
                                       'Views_y': 'Views per City', 
                                       'Views_x': 'Views per Date',
                                       'Watch time (hours)': 'Watch time (hours) per City',
                                       'Average view duration': 'Average view duration per City',
                                       'Geography': 'Country Code',
                                       'Geography.1': 'Country and City Code',
                                       }, inplace=True)

In [21]:
city_chart_table_merge['Date'] = pd.to_datetime(city_chart_table_merge['Date'])

In [24]:
city_chart_table_merge.isna().sum()

Date                              0
Cities                            0
City name                         0
Views per Date                    0
Country Code                      0
Country and City Code             0
Views per City                    0
Watch time (hours) per City       0
Average view duration per City    0
dtype: int64

In [22]:
city_chart_table_merge.dtypes

Date                              datetime64[ns]
Cities                                    object
City name                                 object
Views per Date                             int64
Country Code                              object
Country and City Code                     object
Views per City                             int64
Watch time (hours) per City              float64
Average view duration per City            object
dtype: object

In [23]:
city_chart_table_merge.to_sql("Cities", db.engine, if_exists='append', index=False)

395

In [11]:
dict_merged_data = extractor.merge_csv_files(db.engine)

Data merge and write completed.

In [12]:
dict_merged_data.keys()

dict_keys(['Cities', 'Content type', 'Device type', 'Geography', 'New and returning viewers', 'Operating system', 'Sharing service', 'Subscription source', 'Subscription status', 'Subtitles and CC', 'Traffic source'])

In [15]:
dict_merged_data.get('Cities').head()

,Date,Cities,City name_x,Views_x,City name_y,Geography,Geography.1,Views_y,Watch time (hours),Average view duration
0,2020-06-28,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
1,2020-06-29,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
2,2020-06-30,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
3,2020-07-01,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
4,2020-07-02,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06

In [14]:
for table_name, merged_data in dict_merged_data.items():
    # Write the merged data to a database table
    merged_data.to_sql(table_name, db.engine, if_exists="replace", index=False)