In [1]:
import pandas as pd 
import os, sys

In [2]:
os.chdir("..")

In [3]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week3\\Redash-LLM-Chatbot-Add-on'

In [4]:
from utils.file_manuplation import ZipExtractor
from db.db_conn import DatabaseLoader

In [5]:
extractor = ZipExtractor(folder_path="data/unextracted_data", output_directory="data/extracted_data")

Extracting files from data/unextracted_data to data/extracted_data. and current working directory is c:\Users\user\Downloads\ten_academy\week3\Redash-LLM-Chatbot-Add-on

In [6]:
db = DatabaseLoader()

In [7]:
db.connect()

Connected to the database.

In [8]:
extractor.extract_files()

Extracting data/unextracted_data\Cities.zip to data/extracted_data\Cities.
Extracting data/unextracted_data\Content type.zip to data/extracted_data\Content type.
Extracting data/unextracted_data\Device type.zip to data/extracted_data\Device type.
Extracting data/unextracted_data\Geography.zip to data/extracted_data\Geography.
Extracting data/unextracted_data\New and returning viewers.zip to data/extracted_data\New and returning viewers.
Extracting data/unextracted_data\Operating system.zip to data/extracted_data\Operating system.
Extracting data/unextracted_data\Sharing service.zip to data/extracted_data\Sharing service.
Extracting data/unextracted_data\Subscription source.zip to data/extracted_data\Subscription source.
Extracting data/unextracted_data\Subscription status.zip to data/extracted_data\Subscription status.
Extracting data/unextracted_data\Subtitles and CC.zip to data/extracted_data\Subtitles and CC.
Extracting data/unextracted_data\Traffic source.zip to data/extracted_data\Traffic source.
Extracting data/unextracted_data\Viewer age.zip to data/extracted_data\Viewer age.
Extracting data/unextracted_data\Viewer gender.zip to data/extracted_data\Viewer gender.
Extracting data/unextracted_data\Viewership by Date.zip to data/extracted_data\Viewership by Date.
Extraction completed.

Seems Like all of the datas extracted cointain the same 3 csv file names
- Chart data
- Table Data
- Totals

In [9]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week3\\Redash-LLM-Chatbot-Add-on'

In [8]:
city_chart = pd.read_csv("data/extracted_data/Cities/Chart data.csv")
city_total = pd.read_csv("data/extracted_data/Cities/Totals.csv")
city_table = pd.read_csv("data/extracted_data/Cities/Table DATA.csv")

In [13]:
city_chart.isna().sum()

Date         0
Cities       0
City name    0
Views        0
dtype: int64

In [87]:
city_total.isna().sum()

Date     0
Views    0
dtype: int64

In [62]:
city_chart.head()

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [65]:
# sum the number of views by date
city_chart_sum = city_chart.groupby('Date').sum()

In [63]:
#convert obdect column to datetime
city_chart['Date'] = pd.to_datetime(city_chart['Date'])

In [85]:
t = city_chart.groupby('Date')['Views'].sum()
print(t)

Date
2020-06-28     0
2020-06-29     0
2020-06-30     0
2020-07-01     0
2020-07-02     0
              ..
2023-12-24     0
2023-12-25     0
2023-12-26    15
2023-12-27     0
2023-12-28     0
Name: Views, Length: 1279, dtype: int64

In [64]:
city_chart.dtypes

Date         datetime64[ns]
Cities               object
City name            object
Views                 int64
dtype: object

In [61]:
city_chart_sum.head()

,Cities,City name,Views
Date,,,
2020-06-28,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-06-29,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-06-30,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-07-01,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-07-02,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0

In [14]:
city_total.head()

         Date  Views
0  2020-06-28      1
1  2020-06-29     72
2  2020-06-30     76
3  2020-07-01     70
4  2020-07-02     57

In [14]:
city_chart_table_merge = pd.merge(city_chart, city_table, on="City name", how="left")

In [15]:
city_chart_table_merge.drop('Cities_y', axis=1, inplace=True)

In [16]:
city_chart_table_merge.rename(columns={'Cities_x': 'Cities', 
                                       'Views_y': 'Views per City', 
                                       'Views_x': 'Views per Date',
                                       'Watch time (hours)': 'Watch time (hours) per City',
                                       'Average view duration': 'Average view duration per City',
                                       'Geography': 'Country Code',
                                       'Geography.1': 'Country and City Code',
                                       }, inplace=True)

In [21]:
city_chart_table_merge['Date'] = pd.to_datetime(city_chart_table_merge['Date'])

In [24]:
city_chart_table_merge.isna().sum()

Date                              0
Cities                            0
City name                         0
Views per Date                    0
Country Code                      0
Country and City Code             0
Views per City                    0
Watch time (hours) per City       0
Average view duration per City    0
dtype: int64

In [22]:
city_chart_table_merge.dtypes

Date                              datetime64[ns]
Cities                                    object
City name                                 object
Views per Date                             int64
Country Code                              object
Country and City Code                     object
Views per City                             int64
Watch time (hours) per City              float64
Average view duration per City            object
dtype: object

In [23]:
city_chart_table_merge.to_sql("Cities", db.engine, if_exists='append', index=False)

395

In [11]:
dict_merged_data = extractor.merge_csv_files(db.engine)

Data merge and write completed.

In [12]:
dict_merged_data.keys()

dict_keys(['Cities', 'Content type', 'Device type', 'Geography', 'New and returning viewers', 'Operating system', 'Sharing service', 'Subscription source', 'Subscription status', 'Subtitles and CC', 'Traffic source'])

In [15]:
dict_merged_data.get('Cities').head()

,Date,Cities,City name_x,Views_x,City name_y,Geography,Geography.1,Views_y,Watch time (hours),Average view duration
0,2020-06-28,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
1,2020-06-29,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
2,2020-06-30,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
3,2020-07-01,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
4,2020-07-02,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06

In [14]:
for table_name, merged_data in dict_merged_data.items():
    # Write the merged data to a database table
    merged_data.to_sql(table_name, db.engine, if_exists="replace", index=False)

In [8]:
from sqlalchemy import inspect

In [9]:
inspector = inspect(db.engine)

In [10]:
tables = inspector.get_table_names()

In [11]:
table_column_dict = {}

for table in tables:
    table_column_dict[table] = inspector.get_columns(table)

In [12]:
table_column_dict

{'Cities': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Cities',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'City name_x',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'City name_y',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Geography',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Geography.1',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Content type': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Content type',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Device type': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Device type',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Geography': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Geography',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'New and returning viewers': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'New and returning viewers',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Operating system': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Operating system',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Sharing service': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Sharing service',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Shares_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Shares_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Subscription source': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subscription source',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subscribers_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subscribers_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subscribers gained',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subscribers lost',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Subscription status': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subscription status',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Subtitles and CC': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Subtitles and CC',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}],
 'Traffic source': [{'name': 'Date',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Traffic source',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_x',
   'type': BIGINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Views_y',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Watch time (hours)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Average view duration',
   'type': TEXT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Impressions',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'Impressions click-through rate (%)',
   'type': DOUBLE_PRECISION(precision=53),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None}]}

In [27]:
dict_ = {}
for key, value in table_column_dict.items():
    # create a dictionary of table name and columns for example like {{Table Name : Cities, Columns : ['Date', 'Cities']}, {Table Name : Content type, Columns : ['Date', 'Content type']}}
    dict_[key] = value[0]['name']
    
dict_

TypeError: string indices must be integers, not 'str'

In [13]:
for data in table_column_dict:
    #remove all except name and add the nameing Like Table Name for tabl_name and Column for columns
    table_column_dict[data] = [i['name'] for i in table_column_dict[data]]
table_column_dict

{'Cities': ['Date',
  'Cities',
  'City name_x',
  'Views_x',
  'City name_y',
  'Geography',
  'Geography.1',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Content type': ['Date',
  'Content type',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Device type': ['Date',
  'Device type',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Geography': ['Date',
  'Geography',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'New and returning viewers': ['Date',
  'New and returning viewers',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Operating system': ['Date',
  'Operating system',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Sharing service': ['Date', 'Sharing service', 'Shares_x', 'Shares_y'],
 'Subscription source': ['Date',
  'Subscription source',
  'Subscribers_x',
  'Subscribers_y',
  'Subscribers gained',
  'Subscribers lost'],
 'Subscription status': ['Date',
  'Subscription status',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Subtitles and CC': ['Date',
  'Subtitles and CC',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Traffic source': ['Date',
  'Traffic source',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration',
  'Impressions',
  'Impressions click-through rate (%)']}

In [29]:
# name key and values to table name and columns
new_table_column_dict = {}
for key, value in table_column_dict.items():
    new_table_column_dict[key + " Table Name"] = key
    new_table_column_dict[key + " Columns"] = value
new_table_column_dict

{'Cities Table Name': 'Cities',
 'Cities Columns': ['Date',
  'Cities',
  'City name_x',
  'Views_x',
  'City name_y',
  'Geography',
  'Geography.1',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Content type Table Name': 'Content type',
 'Content type Columns': ['Date',
  'Content type',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Device type Table Name': 'Device type',
 'Device type Columns': ['Date',
  'Device type',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Geography Table Name': 'Geography',
 'Geography Columns': ['Date',
  'Geography',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'New and returning viewers Table Name': 'New and returning viewers',
 'New and returning viewers Columns': ['Date',
  'New and returning viewers',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Operating system Table Name': 'Operating system',
 'Operating system Columns': ['Date',
  'Operating system',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Sharing service Table Name': 'Sharing service',
 'Sharing service Columns': ['Date',
  'Sharing service',
  'Shares_x',
  'Shares_y'],
 'Subscription source Table Name': 'Subscription source',
 'Subscription source Columns': ['Date',
  'Subscription source',
  'Subscribers_x',
  'Subscribers_y',
  'Subscribers gained',
  'Subscribers lost'],
 'Subscription status Table Name': 'Subscription status',
 'Subscription status Columns': ['Date',
  'Subscription status',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Subtitles and CC Table Name': 'Subtitles and CC',
 'Subtitles and CC Columns': ['Date',
  'Subtitles and CC',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration'],
 'Traffic source Table Name': 'Traffic source',
 'Traffic source Columns': ['Date',
  'Traffic source',
  'Views_x',
  'Views_y',
  'Watch time (hours)',
  'Average view duration',
  'Impressions',
  'Impressions click-through rate (%)']}

In [42]:
string = ""
for key, value in new_table_column_dict.items():
    # run the below code every two times
    if type(value) == list:
        string = string + f' and has Columns: ' + ', '.join(value) + ' and \n'
    else:
        string = string + key + ' is: ' + value
print(string)

Cities Table Name is: Cities and has Columns: Date, Cities, City name_x, Views_x, City name_y, Geography, Geography.1, Views_y, Watch time (hours), Average view duration and
Content type Table Name is: Content type and has Columns: Date, Content type, Views_x, Views_y, Watch time (hours), Average view duration and
Device type Table Name is: Device type and has Columns: Date, Device type, Views_x, Views_y, Watch time (hours), Average view duration and
Geography Table Name is: Geography and has Columns: Date, Geography, Views_x, Views_y, Watch time (hours), Average view duration and
New and returning viewers Table Name is: New and returning viewers and has Columns: Date, New and returning viewers, Views_x, Views_y, Watch time (hours), Average view duration and
Operating system Table Name is: Operating system and has Columns: Date, Operating system, Views_x, Views_y, Watch time (hours), Average view duration and
Sharing service Table Name is: Sharing service and has Columns: Date, Sharing service, Shares_x, Shares_y and
Subscription source Table Name is: Subscription source and has Columns: Date, Subscription source, Subscribers_x, Subscribers_y, Subscribers gained, Subscribers lost and
Subscription status Table Name is: Subscription status and has Columns: Date, Subscription status, Views_x, Views_y, Watch time (hours), Average view duration and
Subtitles and CC Table Name is: Subtitles and CC and has Columns: Date, Subtitles and CC, Views_x, Views_y, Watch time (hours), Average view duration and
Traffic source Table Name is: Traffic source and has Columns: Date, Traffic source, Views_x, Views_y, Watch time (hours), Average view duration, Impressions, Impressions click-through rate (%) and

In [47]:
# make a string from new_table_column_dict from values and keys delimited by new line

new_table_column_string = ", ".join([f'{key} {value}' for key, value in new_table_column_dict.items()])
new_table_column_string

"Cities_Table_Name Cities, Cities_Columns ['Date', 'Cities', 'City name_x', 'Views_x', 'City name_y', 'Geography', 'Geography.1', 'Views_y', 'Watch time (hours)', 'Average view duration'], Content_type_Table_Name Content type, Content type_Columns ['Date', 'Content type', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], Device_type_Table_Name Device type, Device type_Columns ['Date', 'Device type', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], Geography_Table_Name Geography, Geography_Columns ['Date', 'Geography', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], New_and_returning_viewers_Table_Name New and returning viewers, New and returning viewers_Columns ['Date', 'New and returning viewers', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], Operating_system_Table_Name Operating system, Operating system_Columns ['Date', 'Operating system', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], Sharing_service_Table_Name Sharing service, Sharing service_Columns ['Date', 'Sharing service', 'Shares_x', 'Shares_y'], Subscription_source_Table_Name Subscription source, Subscription source_Columns ['Date', 'Subscription source', 'Subscribers_x', 'Subscribers_y', 'Subscribers gained', 'Subscribers lost'], Subscription_status_Table_Name Subscription status, Subscription status_Columns ['Date', 'Subscription status', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], Subtitles_and_CC_Table_Name Subtitles and CC, Subtitles and CC_Columns ['Date', 'Subtitles and CC', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration'], Traffic_source_Table_Name Traffic source, Traffic source_Columns ['Date', 'Traffic source', 'Views_x', 'Views_y', 'Watch time (hours)', 'Average view duration', 'Impressions', 'Impressions click-through rate (%)']"

In [128]:
messages = [
    {"role": "system",
        "content": f"You are a helpful assistant who generates SQL queries on the database and responds from the database schema provided only\
        SQL should be written using this table and column data from database schema: {new_table_column_string}\
        Table Names or Column Names when writing SQL MUST ALWAYS be in double quotes EVEN IF THEY ARE A SINGLE WORD, \
        The Database you will be writting SQL queries for is: postgres \
        You are always to the point and ALWAYS generate the SQL query and no additional explanation or text\
        Generate only SQL syntax when prompted about any inquiries regarding SQL queries.\
        The query should be returned in plain text, not in JSON \
        Output should be a fully formed SQL query.\
        Do not use any kind of formatting on your response query such as newlines or indentation finish everything in one line. \
        Don't complicate things. Generate only SQL syntax when prompted about any inquiries regarding SQL queries."},
    {"role": "user", "content": "Give me all cities names with there total views and watch time"}
]

In [121]:
import requests
def chat_completion_request(messages, tools=None, tool_choice=None, model="gpt-3.5-turbo-0613"):
    headers = {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + os.getenv("OPENAI_API_KEY"),
    }
    json_data = {"model": model, "messages": messages}
    if tools is not None:
        json_data.update({"tools": tools})
    if tool_choice is not None:
        json_data.update({"tool_choice": tool_choice})
    try:
        response = requests.post(
            "https://api.openai.com/v1/chat/completions",
            headers=headers,
            json=json_data,
        )
        return response.json()
    except Exception as e:
        print("Unable to generate ChatCompletion response")
        print(f"Exception: {e}")
        return e

In [129]:
chat_completion_request(messages)

{'id': 'chatcmpl-9NLu7joHBjjmDOsv1IYYRWZcac99j',
 'object': 'chat.completion',
 'created': 1715352771,
 'model': 'gpt-3.5-turbo-0613',
 'choices': [{'index': 0,
   'message': {'role': 'assistant',
    'content': 'SELECT "City name_x" as "City Name", SUM("Views_x") as "Total Views", SUM("Watch time (hours)") as "Total Watch Time"\nFROM Cities\nGROUP BY "City name_x";'},
   'logprobs': None,
   'finish_reason': 'stop'}],
 'usage': {'prompt_tokens': 637, 'completion_tokens': 44, 'total_tokens': 681},
 'system_fingerprint': None}