In [1]:
import pandas as pd 
import os, sys

In [2]:
os.chdir("..")

In [3]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week3\\Redash-LLM-Chatbot-Add-on'

In [4]:
from utils.file_manuplation import ZipExtractor

In [7]:
extractor = ZipExtractor(folder_path="data/unextracted_data", output_directory="data/extracted_data")

Extracting files from data/unextracted_data to data/extracted_data. and current working directory is c:\Users\user\Downloads\ten_academy\week3\Redash-LLM-Chatbot-Add-on

In [8]:
extractor.extract_files()

Extracting data/unextracted_data\Cities.zip to data/extracted_data\Cities.
Extracting data/unextracted_data\Content type.zip to data/extracted_data\Content type.
Extracting data/unextracted_data\Device type.zip to data/extracted_data\Device type.
Extracting data/unextracted_data\Geography.zip to data/extracted_data\Geography.
Extracting data/unextracted_data\New and returning viewers.zip to data/extracted_data\New and returning viewers.
Extracting data/unextracted_data\Operating system.zip to data/extracted_data\Operating system.
Extracting data/unextracted_data\Sharing service.zip to data/extracted_data\Sharing service.
Extracting data/unextracted_data\Subscription source.zip to data/extracted_data\Subscription source.
Extracting data/unextracted_data\Subscription status.zip to data/extracted_data\Subscription status.
Extracting data/unextracted_data\Subtitles and CC.zip to data/extracted_data\Subtitles and CC.
Extracting data/unextracted_data\Traffic source.zip to data/extracted_data\Traffic source.
Extracting data/unextracted_data\Viewer age.zip to data/extracted_data\Viewer age.
Extracting data/unextracted_data\Viewer gender.zip to data/extracted_data\Viewer gender.
Extracting data/unextracted_data\Viewership by Date.zip to data/extracted_data\Viewership by Date.
Extraction completed.

Seems Like all of the datas extracted cointain the same 3 csv file names
- Chart data
- Table Data
- Totals

In [9]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week3\\Redash-LLM-Chatbot-Add-on'

In [54]:
city_chart = pd.read_csv("data/extracted_data/Cities/Chart data.csv")
city_total = pd.read_csv("data/extracted_data/Cities/Totals.csv")

In [86]:
city_chart.isna().sum()

Date         0
Cities       0
City name    0
Views        0
dtype: int64

In [87]:
city_total.isna().sum()

Date     0
Views    0
dtype: int64

In [62]:
city_chart.head()

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [65]:
# sum the number of views by date
city_chart_sum = city_chart.groupby('Date').sum()

In [63]:
#convert obdect column to datetime
city_chart['Date'] = pd.to_datetime(city_chart['Date'])

In [85]:
t = city_chart.groupby('Date')['Views'].sum()
print(t)

Date
2020-06-28     0
2020-06-29     0
2020-06-30     0
2020-07-01     0
2020-07-02     0
              ..
2023-12-24     0
2023-12-25     0
2023-12-26    15
2023-12-27     0
2023-12-28     0
Name: Views, Length: 1279, dtype: int64

In [64]:
city_chart.dtypes

Date         datetime64[ns]
Cities               object
City name            object
Views                 int64
dtype: object

In [61]:
city_chart_sum.head()

,Cities,City name,Views
Date,,,
2020-06-28,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-06-29,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-06-30,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-07-01,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0
2020-07-02,0x164b85cef5ab402d:0x8467b6b037a24d490x168e8fd...,Addis AbabaKhartoumQuezon CityBusanManchester,0

In [14]:
city_total.head()

         Date  Views
0  2020-06-28      1
1  2020-06-29     72
2  2020-06-30     76
3  2020-07-01     70
4  2020-07-02     57

In [35]:
city_chart_total_merge = pd.merge(city_chart, city_total, on="Date", how="left")

In [36]:
city_chart_total_merge.head(60)

,Date,Cities,City name,Views_x,Views_y
0,2020-06-28,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,1
1,2020-06-29,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,72
2,2020-06-30,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,76
3,2020-07-01,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,70
4,2020-07-02,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,57
5,2020-07-03,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,49
6,2020-07-04,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,34
7,2020-07-05,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,53
8,2020-07-06,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,24
9,2020-07-07,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,1
10,2020-07-08,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,2
11,2020-07-09,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,3
12,2020-07-10,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,0
13,2020-07-11,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,1
14,2020-07-12,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,0
15,2020-07-13,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,61
16,2020-07-14,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,99
17,2020-07-15,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,32
18,2020-07-16,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,54
19,2020-07-17,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,24
20,2020-07-18,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,14
21,2020-07-19,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,9
22,2020-07-20,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,39
23,2020-07-21,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,18
24,2020-07-22,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,24
25,2020-07-23,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,94
26,2020-07-24,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,55
27,2020-07-25,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,32
28,2020-07-26,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,24
29,2020-07-27,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,26
30,2020-07-28,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,39
31,2020-07-29,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,23
32,2020-07-30,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,26
33,2020-07-31,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,10
34,2020-08-01,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,4
35,2020-08-02,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,6
36,2020-08-03,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,24
37,2020-08-04,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,20
38,2020-08-05,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,108
39,2020-08-06,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,41
40,2020-08-07,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,26
41,2020-08-08,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,11
42,2020-08-09,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,26
43,2020-08-10,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,44
44,2020-08-11,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,75
45,2020-08-12,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,55
46,2020-08-13,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,41
47,2020-08-14,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,18
48,2020-08-15,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,17
49,2020-08-16,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,14
50,2020-08-17,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,20
51,2020-08-18,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,18
52,2020-08-19,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,23
53,2020-08-20,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,25
54,2020-08-21,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,15
55,2020-08-22,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,1
56,2020-08-23,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,4
57,2020-08-24,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,15
58,2020-08-25,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,27
59,2020-08-26,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,0,18

In [30]:
city_chart_total_merge.shape

(6395, 5)